#boxGithub {
  display: none;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  top: -100%;
}

#boxGithub div{
  margin: 10px;
  border: 1px #000 solid;
  padding: 10px;
}
